<h1>Please click the link for authentication</h1>
<%# Have a link for the user to go to the csv file uploading %>
<%# Redirect user to the info page for auth %>
<p>
  <%= link_to "Go to Info Page", info_path %>
</p>


